@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf")
      format("truetype");
}
@font-face {
  font-family: "NotoSansJP";
  src: local("NotoSansJP"),
    url("./assets/fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf")
      format("truetype");
}
@font-face {
  font-family: "Hiragino";
  src: local("Hiragino"),
    url("./assets/fonts/Hiragino/Hiragino.otf") format("truetype");
}
html {
  font-family: "Hiragino";
}
p {
  font-weight: 300;
}
body {
  max-width: 1280px;
  margin: 0 auto;
}

/* width */
#my-exercise .custom-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #777777;
  border-radius: 10px;

}

/* Track */


/* Handle */
#my-exercise .custom-scroll::-webkit-scrollbar-thumb {
  background: #FFCC21;
  border-radius: 10px;
}

/* Handle on hover */

